.order-unknown, .order-unknown td  {
    background-color: #ddd!important;
}
.order-pending, .order-pending td {
    background-color: rgb(255, 251, 230)!important;
}
.order-cancel, .order-cancel td {
    background-color: rgb(255,242,240)!important;
}
.order-completed, .order-completed td {
    background-color: #b7eb8f!important;
}
